<div class="comment__container">
  {{#each this}}
    <div class="comment__unit">
      <p class="comment__auth">
        {{user.username}}
        |
        {{format_date created_at}}
      </p>
      <p class="comment__content">
        {{comment_text}}
      </p>
    </div>
  {{/each}}
</div>