<section class="addPost__container">
  <h2>Create New Post</h2>
  <form id="addPost__submit">
    <div>
      <p>Title</p>
      <input
        id="addPost__Title"
        type="text"
        placeholder="Enter The Post Title"
      />
    </div>
    <div>
      <p>Content</p>
      <textarea
        id="addPost__Content"
        rows="6"
        placeholder="Enter Your Content"
      ></textarea>
    </div>
    <button type="submit">Create</button>
  </form>
</section>

<script src="/js/addPost.js"></script>