<section class="login__container">
  <div class="login__block">
    <h2>Log In</h2>
    <form id="login__block_loginSubmit">
      <div>
        <p>Username</p>
        <input
          type="text"
          id="login__block_username"
          placeholder="Enter Your Username"
        />
      </div>
      <div>
        <p>Password</p>
        <input
          id="login__block_password"
          type="password"
          placeholder="Enter Your Password"
        />
      </div>

      <div class="login__buttons">
        <button type="submit">Login</button>
        <a href="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>