<section class="signup__container">
  <div class="signup__block">
    <h2>Sign Up</h2>
    <form id="signup__submit">
      <div>
        <p>Username</p>
        <input id="signup__username" placeholder="Your Username" type="text" />
      </div>
      <div>
        <p>Email</p>
        <input id="signup__email" placeholder="Your E-mail" type="email" />
      </div>
      <div>
        <p>Password</p>
        <input
          id="signup__password"
          placeholder="Your Password"
          type="password"
        />
      </div>
      <div class="signup__buttons">
        <button type="submit">Sign Up</button>
        <a href="/login">Log In</a>
      </div>
    </form>
  </div>
</section>

<script src="/js/signup.js"></script>